@page "/fetchdata"
@using Identity50.Shared
@using grpcServisi
@inject grpcServisi.GrpcIdentity.GrpcIdentityClient kli

<div>
	Knjiga:
	<input @bind-value="Naziv" />
</div>
<div>
	Autor:
	<input @bind-value="Ime" />
</div>
<button @onclick="Unos">Unos</button>

@code{
	private string Naziv { get; set; }
	private string Ime { get; set; }

	private async void Unos()
	{
		var knji = new Knjiga { Naziv = Naziv };
		knji.Autori.Add(new Autor { Ime = Ime });
		await kli.UnosKnjigeAsync(knji);
	}
}